.productContainer{
 display: flex;
 gap: 5px;
}

.products{
 width: 100px;
 height: 100px;
}

.homeContainer{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.headerContainer{
 display: flex;
 justify-content: center;
 align-items: space-between;
}